<footer class="footer text-center">
    <div class="container">
        <p class="mb-0">© <%= new Date().getFullYear() %> WanzOFC Site Builder. All Rights Reserved.</p>
        <p><small>Crafted with <i class="fas fa-heart text-danger"></i> by WanzOFC</small></p>
    </div>
</footer>